﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mpPrincipal.Master" AutoEventWireup="true" CodeBehind="WfGrupoArticulo.aspx.cs" Inherits="WedApp.WfGrupoArticulo" %>
<%@Register src="./CU_ListaGrupoArticulo.ascx" tagname="CU_ListaGrupoArticulo" tagprefix="uc1"%>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:CU_ListaGrupoArticulo ID="CU_ListaGrupoArticulo1" runat="server"/>
</asp:Content>
